/* CSS1 - Homework - Exercitiul 2 - Formular Login*/

div {
    display: block;
    width: 400px;
    height: 420px;
    margin: 100px;
    padding: 10px 20px;
    background-color: rgb(210, 218, 221);
}

form {
    display: block;
    width: 400px;
    height: 400px;
    margin-top: -10px;
    padding: 0;
    background-color: white;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    padding: 25px 0 5px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50px;
    float: left;
}

label::after {
    content:" *";
    color: red;
}

.textbox {
    width: 300px;
    height: 30px;
    font-size: 16px;
    color: rgb(56, 55, 55);
    border: 1px solid rgb(187, 185, 185);
    border-radius: 5px;
    border-color: rgb(187, 185, 185);
    margin: 2px auto;
}

#password {
    margin-top: 35px;
}

#remember {
    margin: 15px 3px 0 50px;
    float: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 12px;
    padding-bottom: 0;
    text-decoration: underline;
    text-align: left;
}

input[type="submit"] {
    width: 300px;
    height: 40px;
    background-color: rgb(92, 160, 15);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
