.grid {
    background-color: black;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-rows: 30% auto 15% 15%;
    grid-template-columns: 30% auto 15%;
    grid-gap: 10px;
}

.gap {
    text-align: center;
    font-size: large;
}

.a {
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.b {
    background-color: white;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.c {
    background-color: red;
    grid-row: 1 / 3;
    grid-column: 2 / 4;
}

.d {
    background-color: blue ;
    grid-row: 3 / 5;
    grid-column: 1 / 2;
}

.e {
    background-color: white;
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

.f {
    background-color: white;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.g {
    background-color: yellow;
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}


.linkuri {
   margin-top: 40px; 
   height: 50px;
}